 <!--Css Pure-->
 <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <!--this is the font awesome link-->
    <script src="https://kit.fontawesome.com/7bc9717621.js" crossorigin="anonymous"></script>

<!--Side Nav Bar-->
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
   
        <div class="header">
            <h2 class="brand-title"><i class="fa-solid fa-cart-shopping"></i>eMarket</h2>
            <h2 class="brand-tagline">Creating a blog to sell and buy</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="eMarket-button" href="">eMarket</a>
                        <div class="topnav">
                            <a class="active" href="#home">Home</a>
                            <a href="#bids">Bids</a>
                            <a href="#login">Login</a>
                            <a href="#register">Register</a>
                            <a href="#profile">Profile</a>
                          </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div><input list="browsers-search" id="box" name="search-options">
            <button class="btn btn-primary search" type="button" id="button-Search"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>