<head>
  <meta charset="UTF-8">
  <title>eMarket</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/style.css">
  
       <!--this is the font awesome link-->
    <script src="https://kit.fontawesome.com/7bc9717621.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="layout" class="pure-g">
    {{> nav }}
    <div class="content pure-u-1 pure-u-md-3-4">
      {{{ body }}}
    </div>
    
  </div>
</body>
<!--Body End-->
</html>
  </body>
</html>