<!--Login page-->
<h1>Login</h1>
<form class="login-form" action="/login" method="POST">
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email"
    required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"
    required>
</div>
<!-- Button to submit form-->
<button class="btn-primary" type="submit">Login</button>
</form>

<script src="/js/login.js"></script>